@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  // font-family: sans-serif;
  // font-family: "Yellowtail", cursive;
  font-family: "Titillium Web", sans-serif;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  li {
    list-style-type: none;
  }
}

body {
  background-color: rgb(47, 48, 65);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1b1f24;

  .logo__box {
    h1 {
      font-family: "Yellowtail", cursive;
      font-size: 5rem;
      color: #ffffff;
      font-weight: 200;
      text-shadow: 2px 2px 10px rgb(0, 0, 0);
      
      &:hover {
        cursor: pointer;
      }
    }
  }
  .menu_box {
    ul {
      display: flex;
      font-size: 2rem;

      li {
        margin: 30px;

        a{
          color: white;
          font-weight: 500;
          transition: .3s ease;

          &:hover {
            text-shadow: 1px 1px 5px white;
          }
        }
      }
    }

  }
}

// header {
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background: #aa5353;
  
//   .case__name {
//     font-size: 3rem;
//     margin-top: 2%;
//   }
// }

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  background-color: rgb(47, 48, 65);
  color: black;

  .case__name {
    font-size: 3rem;
    margin-bottom: 7%;
    color: white;
  }
}

.roulette {
  width: 1200px; //950px
  position: relative;
  background-color: #1b1f24;
  border-radius: 10px;

  .arrow1 {
    position: absolute;
    // top: 100%;
    left: 50%;
    transform: translate3d(-50%, -20px, 0);
    height: 60px;
    filter: drop-shadow(0 0 20px rgba(184, 6, 6, 0.8));
    z-index: 1;
  }

  .roll {
    overflow: hidden;

    &__list {
      position: relative;
      display: inline-flex;
      // list-style: none;
      left: 0;
      transform: translate3d(0, 0, 0);
      transition: 5s cubic-bezier(0.21, 0.53, 0.29, 0.99);

      &__item {
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        $sizes: 300px; //300px
        width: $sizes;
        height: calc($sizes * 0.8);
        // opacity: .5;
        transition: 0.3s ease;

        &:nth-child(2n) {
          background: rgba(0, 0, 0, 0.2);
          // border-radius: 10px;
        }

        &.active {
          // opacity: 1;
          background-color: #ff000090;

          img {
            transform: scale(1.05);
          }
        }

        img {
          width: 80%;
          height: 80%;
          object-fit: contain;
          transition: 0.3s ease;
        }
      }
    }
  }

  .start {
    position: absolute;
    top: 100%;
    left: 45%;
    transform: translate3d(-45%, 20px 0);
    margin-top: 20px;
    padding: 8px 25px;
    border: none;
    border-radius: 5px;
    outline: none;
    background: #aa5353;
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 6px;
    transition: 0.2s ease;
    cursor: pointer;

    &:hover {
      background: #e72121;
    }
  }
}

/* Стили для pop-up */
.popup {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.5s;

  &-price {
    color: #e72121;
  }

  &-content {
    background-color:#1b1f24;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    width: 80%;
    max-width: 450px;
    // max-height: 800px;
    text-align: center;
    font-size: 1.7rem;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: white;
  }

  .close {
    color: #ffffff;
    float: right;
    font-size: 4rem;
    font-weight: bold;
    // background-color: #aa5353;
    align-self: self-end;
    margin: -30px 0px;
    transition: .3s ease;

    &:hover,
    &:focus {
      color: #e72121;
      text-decoration: none;
      cursor: pointer;
    }
  }
  img {
    max-width: 80%;
    height: auto;
    filter: drop-shadow(0 0 10px rgb(255, 255, 255));
    // border-radius: 10px;
    }
}

.rewards {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  &-txt{
    font-size: 3rem;
    color: white;
  }

  &-list{
    // background: #1b1f24;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
  }

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #1b1f24;
    border-radius: 10px;
    padding: 5px;

    span {
      font-size: 1.3rem;
      color: white;
    }

    img {
      width: 40%;
      height: auto;
      filter: drop-shadow(1px 1px 10px #e72121);
    }
  }
}

footer {
  width: 100%;
  background: white;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  padding: 0.5%;
}